<div class="flex-1 justify-center items-start">
  <div class="card card-border card-md w-[640px] bg-white">
    <div class="card-body">
      <h2 class="card-title">Account Information</h2>
      <form id="account-edit" method="POST" class="flex flex-col gap-4">
        
      </form>
    </div>
  </div>
</div>