<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}} - Chat Room</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/notyf.min.css" />
    <script src="/javascript/notyf.min.js"></script>
  </head>
  <body class="min-h-screen flex flex-col">
    {{#unless hideNavbar}}
      {{> navbar}}
    {{/unless}}

    <div class="w-full h-full flex justify-center items-center bg-gray-100">
      <div class="relative w-full h-full">
        <div class="absolute top-0 w-full">
          <div class="p-4" id="alertMessage">
            {{!--  --}}
          </div>
        </div>
        <div class="h-full flex flex-col justify-center items-center  p-4">
          {{{body}}}
        </div>
      </div>
    </div>
  </body>
 
 <script> 
  var msg = new Notyf()
 </script>
 
</html>